
<div class="shadow jumbotron" style="padding:20px!important;">
    <div class="container">
        <div style="text-align:justify;">
            <div>
                <p>Beer Rating Assistance</p>
                <a assist-type="aroma" class="assist-btn link-no-link">AROMA</a>
                <br>
                <a assist-type="appearance" class="assist-btn link-no-link">APPEARANCE</a>
                <br>
                <a assist-type="taste" class="assist-btn link-no-link">TASTE</a>
                <br>
                <a assist-type="palate" class="assist-btn link-no-link">PALATE</a>
                <br>
                <a assist-type="overall" class="assist-btn link-no-link">OVERALL</a><br>
            </div>

            <div assist-type="aroma" class="assist aroma">
                <br>
                <b>Aroma</b> is one of beer's most complex features. Aroma is propelled by lively CO2 and dampened by pillowy heads - especially nitrogen foam. Click on a term below to add it to your tasting notes.
                <br><br>
                <i>Malt</i>
                <br>
                caramel, bread, hay, cereal, chocolate, coffee, nuts, toast, roasty
                <br><br>
                <i>Hops</i>
                <br>
                resin, floral, grass, spruce, citrus, herbs
                <br><br>
                <i>Yeast/Bacteria</i>
                <br>
                dough, barnyard, cheese, basement aromas, leather, earthy, leaves
                <br><br>
                <i>Other</i>
                <br>
                alcohol, banana, bubblegum, butterscotch, clove, cooked vegetables, cough drop, ginger, licorice, raisin, rotten eggs, soy sauce, skunky, smoke, vanilla, woody
            </div>

            <div hidden assist-type="appearance" class="assist appearance">
                <br>
                <b>Appearance</b> is how a beer appeals to the eye and includes notes on color, the liquid's visual texture and the head -- the beer's foam top. Click on a term below to add it to your tasting notes.
                <br><br>
                <i>Color</i>
                <br>
                pale, golden, amber orange red brown black
                <br><br>
                <i>Liquid</i>
                <br>
                clear, hazy, cloudy, sparkling
                <br><br>
                <i>Head</i>
                <br>
                rocky, frothy, minimal, white, tan, brown
            </div>

            <div hidden assist-type="taste" class="assist taste">
                <br>
                <b>Taste</b> is what can be appreciated with the tongue. It's easy to mistake aromas for tastes -- the tongue only senses sweet, bitter, sour, salt and umami. Click on a term below to add it to your tasting notes.
                <br><br>
                <i>Sweet</i>
                <br>
                light, medium, heavy
                <br><br>
                <i>Bitter</i>
                <br>
                light, medium, heavy
                <br><br>
                <i>Sour</i>
                <br>
                light, medium, heavy
                <br><br>
                <i>Other</i>
                <br>
                salty, umami
            </div>

            <div hidden assist-type="palate" class="assist palate">
                <br>
                <b>Palate</b> includes touch sensations on the lips, tongue, gums and roof of the mouth. Click on a term below to add it to your tasting notes.
                <br><br>
                <i>Body</i>
                <br>
                light, medium, full
                <br><br>
                <i>Texture</i>
                <br>
                thin, oily, creamy, sticky, slick, thick
                <br><br>
                <i>Carbonation</i>
                <br>
                fizzy, lively, average, soft, flat
                <br><br>
                <i>Finish</i>
                <br>
                astringent, bitter, abrupt, long
            </div>

            <div hidden class="assist overall">
                <br>
                <b>Overall</b> score quantifies how much you enjoyed all the beer's elements combined as a sensory experience. Was this a standout beer? Were your expectations met? Did the beer go well with your food? Would you recommend this to a friend? This isn't about how well the beer conformed to its style definition -- it's about a measurement of your own appreciation.
            </div>
        </div>
    </div>
</div>