@{
    ViewBag.Title = "About";
}

<h2 class="funny-header brown shadow deg-2">@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-5">
        <h3>This is a school application!</h3>

        <h4>This application was born to meet ASP.NET MVC 5.</h4>
        Also to use the following techniques to make it like a real web application:
        <ul>
            <li>EF</li>
            <li>ELMAH</li>
            <li>Bootstrap</li>
            <li>jQuery</li>
            <li>HTML</li>
            <li>CSS3</li>
            <li>Azure</li>
            <li>and some more...</li>
        </ul>
        <hr />
        <p>Disclaimer:</p> This application is not for commercial use and the developers do not take any responsibility if it is used despite of this disclaimer!
    </div>
    <div class="col-md-7 text-center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2696.844849608758!2d19.057699215940016!3d47.47345277917621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741ddaa3514e031%3A0x22ab4283e147d415!2sBME+Building+Q!5e0!3m2!1shu!2shu!4v1479742497376" frameborder="0" style="width:400px; height:400px; padding:15px; border:0" allowfullscreen></iframe></div>
</div>